<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Fabrica</title>
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <main>
        <section class="welcome">
            <h3>Creación de Fabricas</h3>
            <div>
                <form th:action="@{/fabrica/registro}" method="POST">
                    <label for="nombre">Nombre: </label>
                    <input type="text" id="nombre" name="nombre" required>
        
                    <button type="submit">Crear</button>
                </form>
            </div>
            <div>
                <a href="/inicio">Volver</a>
            </div>
        </section>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>